<app-header></app-header>
<div class="container">
  <h1>Update information the home</h1>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name" [(ngModel)]="this.home.name">
  </div>
  <div class="form-group">
    <label for="address">Address</label>
    <input type="text" class="form-control" id="address" name="address" [(ngModel)]="this.home.address">
  </div>
  <div class="form-group">
    <label for="bedroomQuantity">Bedrooms</label>
    <input type="text" class="form-control" id="bedroomQuantity" name="bedroomQuantity"
           [(ngModel)]="this.home.bedroomQuantity">
  </div>
  <div class="form-group">
    <label for="bathroomQuantity">Bathrooms</label>
    <input type="text" class="form-control" id="bathroomQuantity" name="bathroomQuantity"
           [(ngModel)]="this.home.bathroomQuantity">
  </div>
  <div class="form-group">
    <label for="price">Price</label>
    <input type="text" class="form-control" id="price" name="price" [(ngModel)]="this.home.price">
  </div>
  <div class="form-group">
    <label for="file">Image</label>
    <input type="file" class="form-control" id="file" name="file"
           (change)="handleFileChoose($event.target.files)">
    <img src="{{'http://localhost:8080/uploads/' + home.file}}" [routerLink]="" width="250px" height="250px">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea type="text" class="form-control" id="description" name="price" [(ngModel)]="this.home.price"></textarea>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Category Room</label>
    <select class="form-control" id="exampleFormControlSelect1" name="categoryHome" [(ngModel)]="categoryHomeId">
      <option value="">{{home.categoryHome.name}}</option>
      <option *ngFor="let categoryHome of categoryHomeList" value="{{ categoryHome.id }}">
        {{ categoryHome.name }}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect2">Category Room</label>
    <select class="form-control" id="exampleFormControlSelect2" name="categoryRoom" [(ngModel)]="categoryRoomId">
      <option value="">{{home.categoryRoom.name}}</option>
      <option *ngFor="let categoryRoom of categoryRoomList" value="{{ categoryRoom.id }}">
        {{ categoryRoom.name }}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect3">Status</label>
    <select class="form-control" id="exampleFormControlSelect3" name="statusHome" [ngModel]="statusHomeId" >
      <option value="">{{home.statusHome.name}}</option>
      <option *ngFor="let statusHome of statusHomeList" value="{{ statusHome.id }}"> {{ statusHome.name }}
      </option>
    </select>
  </div>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Lưu
  </button>
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          Do you want to update information of the house?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)=" editHome()
            ">Save changes
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

