<div class="container">
  <h1>Update information the home</h1>
  <form [formGroup]="homeForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name" formControlName="name">
    </div>
    <div class="form-group">
      <label for="address">Address</label>
      <input type="text" class="form-control" id="address" name="address" formControlName="address">
    </div>
    <div class="form-group">
      <label for="bedroomQuantity">Bedroom</label>
      <input type="text" class="form-control" id="bedroomQuantity" name="bedroomQuantity"
             formControlName="bedroomQuantity">
    </div>
    <div class="form-group">
      <label for="bathroomQuantity">Bathroom</label>
      <input type="text" class="form-control" id="bathroomQuantity" name="bathroomQuantity"
             formControlName="bathroomQuantity">
    </div>
    <div class="form-group">
      <label for="price">Price</label>
      <input type="text" class="form-control" id="price" name="price" formControlName="price">
    </div>
    <div class="form-group">
      <label for="file">Image</label>
      <input type="file" class="form-control" id="file" name="file"
             (change)="handleFileChoose($event.target.files)">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" class="form-control" id="description" name="description" formControlName="description">
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Category Home</label>
      <select class="form-control" id="exampleFormControlSelect1" name="categoryHome"
              formControlName="categoryHomeId">
        <option *ngFor="let categoryHome of categoryHomeList" value="{{ categoryHome.id }}">
          {{ categoryHome.name }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect2">Category Room</label>
      <select class="form-control" id="exampleFormControlSelect2" name="category"
              formControlName="categoryRoomId">
        <option *ngFor="let categoryRoom of categoryRoomList" value="{{ categoryRoom.id }}">
          {{ categoryRoom.name }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect3">Status</label>
      <select class="form-control" id="exampleFormControlSelect3" name="status" formControlName="statusHomeId">
        <option *ngFor="let statusHome of statusHomeList" value="{{ statusHome.id }}"> {{ statusHome.name }}
        </option>
      </select>
    </div>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
      Lưu
    </button>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body text-center">
            Do you want to update information of the house?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" >Close</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)=" editHome()
            ">Save changes
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

