<app-header></app-header>
<button type="button" class="btn btn-primary  " data-toggle="modal" data-target="#exampleModalCenter"
        (click)="isShowModal=true">Add home
</button>
<br>
<br>
<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Name</th>
    <th scope="col">Address</th>
    <th scope="col">Bedroom</th>
    <th scope="col">Bathroom</th>
    <th scope="col">Price</th>
    <th scope="col">Image</th>
    <th scope="col">Description</th>
    <th scope="col">Latitude</th>
    <th scope="col">Longitude</th>
    <th scope="col">Category Home</th>
    <th scope="col">Category Room</th>
    <th scope="col">Status</th>
    <th scope="col">Update</th>
    <th scope="col">Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let home of homeList;index as i">
    <th scope="row">{{ home.id }}</th>
    <td>{{ home.name }}</td>
    <td>{{ home.address }}</td>
    <td>{{ home.bedroomQuantity }}</td>
    <td>{{ home.bathroomQuantity }}</td>
    <td>{{ home.price }}</td>
    <td><img src="{{'http://localhost:8080/uploads/' + home.file}}" width="150px" height="150px"></td>
    <td>{{ home.description }}</td>
    <td>{{ home.latitude }}</td>
    <td>{{ home.longitude }}</td>
    <td>{{ home.categoryHome.name }}</td>
    <td>{{ home.categoryRoom.name }}</td>
    <td>{{ home.statusHome.name }}</td>
    <td><a class="btn btn-primary" [routerLink]="['/home-edit',home.id]">Update<span
      class="sr-only">(current)</span></a>
    </td>
    <td>
      <button type="button" class="btn btn-primary" data-dismiss="modal" (click)=" deleteHome(i)
            ">Delete
      </button>

    </td>
  </tr>
  </tbody>
</table>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Add Home</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="homeForm">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="email" class="form-control" id="name" name="name" formControlName="name">
          </div>
          <div class="form-group">
            <label for="address">Address</label>
            <input type="email" class="form-control" id="address" name="address" formControlName="address">
          </div>
          <div class="form-group">
            <label for="bedroomQuantity">Bedroom</label>
            <input type="email" class="form-control" id="bedroomQuantity" name="bedroomQuantity"
                   formControlName="bedroomQuantity">
          </div>
          <div class="form-group">
            <label for="bathroomQuantity">Bathroom</label>
            <input type="email" class="form-control" id="bathroomQuantity" name="bathroomQuantity"
                   formControlName="bathroomQuantity">
          </div>
          <div class="form-group">
            <label for="price">Price</label>
            <input type="email" class="form-control" id="price" name="price" formControlName="price">
          </div>
          <div class="form-group">
            <label for="file">Image</label>
            <input type="file" class="form-control" id="file" name="file" formControlName="file"
                   (change)="handleFileChoose($event.target.files)">
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <input type="email" class="form-control" id="description" name="description" formControlName="description">
          </div> <div class="form-group">
            <label for="latitude">Latitude</label>
            <input type="email" class="form-control" id="latitude" name="latitude" formControlName="latitude">
          </div> <div class="form-group">
            <label for="longitude">Longitude</label>
            <input type="email" class="form-control" id="longitude" name="longitude" formControlName="longitude">
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Category Home</label>
            <select class="form-control" id="exampleFormControlSelect1" name="categoryHome"
                    formControlName="categoryHomeId">
              <option *ngFor="let categoryHome of categoryHomeList" value="{{ categoryHome.id }}">
                {{ categoryHome.name }}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect2">Category Room</label>
            <select class="form-control" id="exampleFormControlSelect2" name="category"
                    formControlName="categoryRoomId">
              <option *ngFor="let categoryRoom of categoryRoomList" value="{{ categoryRoom.id }}">
                {{ categoryRoom.name }}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect3">Status</label>
            <select class="form-control" id="exampleFormControlSelect3" name="status" formControlName="statusHomeId">
              <option *ngFor="let statusHome of statusHomeList" value="{{ statusHome.id }}"> {{ statusHome.name }}
              </option>
            </select>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button #closeModalRef type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="saveHome(closeModalRef)">Save changes</button>
      </div>
    </div>
  </div>
</div>
