<div class="container">
  <h1>Name: {{home.name}}</h1>
  <h3>Address: {{home.address}}</h3>
  <h3>Bedroom: {{home.bedroomQuantity}}</h3>
  <h3>Bathroom: {{ home.bathroomQuantity }}</h3>
  <h3>Price per night: {{ home.price }}VNĐ</h3>
  <img src="{{'http://localhost:8080/uploads/' + home.file}}" [routerLink]="" width="500px" height="500px">
  <h3>Description: {{home.description}}</h3>
  <h3>Category Room: {{home.categoryHome.name}}</h3>
  <h3>Category Home: {{home.categoryRoom.name}}</h3>
  <h3>Status: {{home.statusHome.name}}</h3>
</div>

<!--<div class="row bgr-validation">-->
<!--  <form action="/booking" method="get">-->
<!--    <div class="col-md-12 titel-icon">-->

<!--      <h6>STARTING ROOM FROM</h6>-->
<!--      <p class="price">-->
<!--        <span class="amout">$260</span>  /days-->
<!--      </p><hr />-->
<!--    </div>-->
<!--    <div class="col-md-12 col-sm-12 pding">-->
<!--      <div class=" title">-->
<!--        <span class="glyphicon glyphicon-calendar"></span><label> CHECK IN: </label>-->
<!--      </div>-->
<!--      <div class="date-ip">-->
<!--        <input type="text" class="datepicker-12 form-control">-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="col-md-12 pding">-->
<!--      <div class=" title">-->
<!--        <span class="glyphicon glyphicon-calendar"></span><label> CHECK OUT: </label>-->
<!--      </div>-->
<!--      <div class=" date-ip">-->
<!--        <input type="text" class="datepicker-12 form-control">-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="col-md-12 col-sm-12 col-xs-12 pding">-->
<!--      <div class=" title">-->
<!--        <label><i class="fa fa-child" aria-hidden="true"></i> ADULTS: </label>-->

<!--        <div class="dropdown time date-room">-->
<!--          <button class="datetime btn-room" data-toggle="dropdown" type="button">3<span style="font-size:10px;" class="glyphicon glyphicon-triangle-bottom"></span></button>-->

<!--          <ul class="dropdown-menu left-drop">-->
<!--            <li class="active"><a href="#">1</a></li>-->
<!--            <li><a href="#">2</a></li>-->
<!--          </ul>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class=" title">-->
<!--        <label style="margin-top:10px;"><i class="fa fa-child" aria-hidden="true"></i> CHILD: </label>-->
<!--        <div class="dropdown time date-room">-->
<!--          <button class="datetime btn-room" data-toggle="dropdown" type="button">3<span style="font-size:10px;" class="glyphicon glyphicon-triangle-bottom"></span></button>-->

<!--          <ul class="dropdown-menu left-drop">-->
<!--            <li class="active"><a href="#">1</a></li>-->
<!--            <li><a href="#">2</a></li>-->
<!--          </ul>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="col-md-12 col-sm-12 btn-a" style="margin-top:20px;margin-bottom:20px">-->
<!--      <button type="submit" href="" class="hvr-sweep-to-top tbn-hover"><i class="fa fa-calendar"></i> Book Now</button>-->

<!--    </div>-->

<!--  </form>-->
<!--</div>-->
