<app-header></app-header>
<div class="container">

  <div class="row bgr-validation">
    <div class="col-md-9">
      <img src="{{'http://localhost:8080/uploads/' + home.file}}" [routerLink]="" width="650px" height="500px">
      <h1>Name: {{home.name}}</h1>
      <h3>Address: </h3>
      <p>{{home.address}}</p>
      <h3>Bedroom: </h3>
      <p>{{home.bedroomQuantity}}</p>
      <h3>Bathroom: </h3>
      <p>{{ home.bathroomQuantity }}</p>
      <h3>Category Room: </h3>
      <p>{{home.categoryHome.name}}</p>
      <h3>Category Home: </h3>
      <p>{{home.categoryRoom.name}}</p>
      <h3>Price: </h3>
      <p>${{ home.price }} per night</p>
      <h4>Description: </h4>
      <p>{{home.description}}</p>
      <h3>Status: </h3>
      <p>{{home.statusHome.name}}</p>
    </div>

    <form action="/booking" method="get">
      <div class="col-md-12 titel-icon">
        <h6>STARTING ROOM FROM</h6>
        <p class="price">
          <span class="amout">${{home.price}}</span> per night
        </p>
        <hr/>
      </div>
      <div class="col-md-12 col-sm-12 pding">
        <div class=" title">
          <span class="glyphicon glyphicon-calendar"></span><label> CHECK IN: </label>
        </div>
        <div class="date-ip">
          <input type="date" class="datepicker-12 form-control">
        </div>
      </div>
      <div class="col-md-12 pding">
        <div class=" title">
          <span class="glyphicon glyphicon-calendar"></span><label> CHECK OUT: </label>
        </div>
        <div class=" date-ip">
          <input type="date" class="datepicker-12 form-control">
        </div>
      </div>

      <div class="col-md-12 col-sm-12 btn-a" style="margin-top:20px;margin-bottom:20px">
        <button type="submit" href="" class="hvr-sweep-to-top tbn-hover"><i class="fa fa-calendar"></i> Book Now
        </button>
      </div>
    </form>
  </div>
</div>
