<app-header></app-header>
<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Check In</th>
    <th scope="col">Check Out</th>
    <th scope="col">Delete</th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let booking of listBooking;index as i">
    <th scope="row">{{ booking.id }}</th>
    <td>{{ booking.checkin }}</td>
    <td>{{ booking.checkout }}</td>
    <td>
      <button type="button" class="btn btn-primary" data-dismiss="modal" (click)=" deleteBookingById(i)
              ">Delete
      </button>
    </td>
  </tr>
  </tbody>
</table>
