.border-radius {
  border-radius: 15px;
  border: 1px solid transparent;
  background: white;
  color: black;
}

.border-radius1 {
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
  border-radius: 50%;
}

.border-radius1:hover {
  background-color: #008CBA;
  color: white;
  border-radius: 50%;
}

