<app-header></app-header>
<div class="col-md-4 float-right">
  <nav class="navbar navbar-light bg-light">
    <div class="form-inline">
      <input [(ngModel)]="searchUser" class="form-control mr-sm-2" type="search" placeholder="Search by username"
             aria-label="Search"
             (keyup)="searchUserByName()">
      <button class="btn btn-primary my-2 my-sm-0 border-radius1" type="submit">Search</button>
    </div>
  </nav>
</div>
<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Name</th>
    <th scope="col">Username</th>
    <th scope="col">Email</th>
    <th scope="col">List Booking</th>
    <th scope="col">Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of userList;index as i">
    <th scope="row">{{ user.id }}</th>
    <td>{{ user.name }}</td>
    <td>{{ user.username }}</td>
    <td>{{ user.email }}</td>
    <td>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter1"
              [routerLink]="['/user-booking-list', user.id]">List Booking
      </button>
    </td>
    <td>
      <button type="buttoDetailn" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter2"
      >Delete
      </button>
    </td>
  </tr>
  </tbody>
</table>
<app-footer></app-footer>
