<div *ngIf="isLoggedIn; else loggedOut">
  Logged in as {{roles}}

</div>



<ng-template #loggedOut>

  <div class="widget">
    <form class="form-signin" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">Sign in</h1>
      </div>

      <div class="form-label-group">
        <label for="inputEmail">Username</label>
        <input class="form-control" name="username" [(ngModel)]="form.username" #username="ngModel"
               required  type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">

      </div>

      <div class="form-label-group">
        <label for="inputPassword">Password</label>
        <input type="password" class="form-control" name="password" [(ngModel)]="form.password" #password="ngModel"
               required minlength="6" type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
      </div>

      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      <p class="mt-5 mb-3 text-muted text-center">© 2017-2018</p>
    </form>


  </div>
</ng-template>
