<app-header></app-header>
<div class="container">
  <h1>Update information the home</h1>
  <div class="form-group">
    <label for="name">Name</label>
    <input *ngIf="home !== undefined" type="text" class="form-control" id="name" name="name" [(ngModel)]="home.name">
  </div>
  <div class="form-group">
    <label for="file">Image</label>
    <input type="file" class="form-control" id="file" name="file"
           (change)="handleFileChoose($event.target.files);addOneFile($event)">
    <img src="{{filePath}}" alt="" style="width: 250px; height: 250px">
  </div>
  <div class="form-group">
    <label for="address">Address</label>
    <input *ngIf="home !== undefined" type="text" class="form-control" id="address" name="address"
           [(ngModel)]="home.address">
  </div>
  <div class="form-group">
    <label for="bedroomQuantity">Bedrooms</label>
    <input *ngIf="home !== undefined" type="text" class="form-control" id="bedroomQuantity" name="bedroomQuantity"
           [(ngModel)]="home.bedroomQuantity">
  </div>
  <div class="form-group">
    <label for="bathroomQuantity">Bathrooms</label>
    <input *ngIf="home !== undefined" type="text" class="form-control" id="bathroomQuantity" name="bathroomQuantity"
           [(ngModel)]="home.bathroomQuantity">
  </div>
  <div class="form-group">
    <label for="price">Price</label>
    <input *ngIf="home !== undefined" type="text" class="form-control" id="price" name="price"
           [(ngModel)]="home.price">
  </div>
  <div class="form-group">
    <label for="file1">Images</label>
    <input type="file" class="form-control" id="file1" name="file1" multiple
           (change)="onSelectFile($event);addFiles($event)">
    <button class="btn-primary" (click)="clickDeleteFile()">Delete all old images</button>
  </div>
  <div *ngFor='let url of urls; index as i'>
    <p class="text-success"><strong>Preview #{{i + 1}}</strong></p>
    <div class="text-right">
      <button (click)="removePreviewImage(i)" class="close text-danger">
        X
      </button>
    </div>
    <img [src]="url" style="height: 400px ; width: 100%;">
    <br/>
    <hr>
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea type="text" class="form-control" id="description" name="description"
              [(ngModel)]="home.description"></textarea>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Category Home</label>
    <select class="form-control" id="exampleFormControlSelect1" name="categoryHome" [(ngModel)]="categoryHomeId">
      <option value=""></option>
      <option *ngFor="let categoryHome of categoryHomeList" value="{{ categoryHome.id }}">
        {{ categoryHome.name }}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect2">Category Room</label>
    <select class="form-control" id="exampleFormControlSelect2" name="categoryRoom" [(ngModel)]="categoryRoomId">
      <option value="">{{home.categoryRoom.name}}</option>
      <option *ngFor="let categoryRoom of categoryRoomList" value="{{ categoryRoom.id }}">
        {{ categoryRoom.name }}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect3">Status</label>
    <select class="form-control" id="exampleFormControlSelect3" name="statusHome" [ngModel]="statusHomeId">
      <option value="">{{home.statusHome.name}}</option>
      <option *ngFor="let statusHome of statusHomeList" value="{{ statusHome.id }}"> {{ statusHome.name }}
      </option>
    </select>
  </div>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Lưu
  </button>
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          Do you want to update information of the house?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)=" editHome()
            ">Save changes
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
